body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  padding: 4rem 0;  
}

.container-2 {
  padding: 4rem 3rem;
}

.header {
  height: 7rem;
  display: flex;
  font-size: 1.45rem;
}

.title {
  align-self: center;
  text-align: left;
  margin-left: 1rem;
  font-weight: bolder;
}

.twitter {
  align-self: center;
}

.list-center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.image > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
}

.image-centered {
  text-align: center;
}

.slide-with-list {
  display: flex;
  justify-content: space-evenly;
}

.text-list {
  font-size: 2.25rem;
  line-height: 5.5rem;
  letter-spacing: 1px;
}

.text {
  font-size: 2rem;
  margin: 1rem;
}

.center {
  text-align: center;
}

p {
  line-height: 45px;
}

span {
  display: block;
  text-align: center;
  font-size: 3.45rem;
}

.slide-with-list > .image-right > img {
  height: 22rem;
}

.col-1 {
  width: 15rem;
}

.col-2 {
  flex: 3 0px;
}

.col-3 {
  width: 23rem;
  display: flex;
}

.fa-twitter{
  color: #1da1f2;
}